<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/lib/treant/treant-js-master/Treant.css">
    <link rel="stylesheet" type="text/css" href="/static/css/Tree.css">

    <link rel="stylesheet" href="/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/asset.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-timepicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/lib/moment.min.js"></script>
    <!---<script type='text/javascript' src='/static/src/asset_template.js' defer></script>-->


    <title> Device Map </title>
</head>
<body >
    <div class="root">

        <div class="container-fluid" style="height:100%;overflow:auto;">
            <div class="col-lg-3" style="height:100%;">
                <!-- menu -->
                <div style="height:65%;margin-top:8%;">
                    <a href="/tree"><b>Map</b></a><br>
                    <div class="menu_separator">
                    </div>
                    <a href="/battery">Battery</a><br>
                    <div class="menu_separator">
                    </div>
                    <a href="/generator">Generator</a><br>
                    <div class="menu_separator">
                    </div>
                    <a href="/inverter">Inverter</a><br>
                    <div class="menu_separator">
                    </div>
                    <a href="/solar">Solar</a><br>
                    <div class="menu_separator">
                    </div>
                    <a href="/nrel">Weather</a><br>
                </div>
            </div>

        <!-- right column for content -->
            <div class="col-lg-9" style="height:100%;">

          <!-- "card" view to hold content -->
          <div class="card">

            <!-- header -->
            <div class="header row-fluid">

              <!-- title -->
              <div class="col-lg-3">
                <p>Device Map</p>
              </div>

              <!-- separator -->
              <div class="separator">
              </div>

            </div>

            <!-- real-time data -->
              <div class="chart" id="custom-colored">Tree Loading..</div>
            <script type="text/javascript" src="/static/src/generatorView.js" defer></script>
            <script src="/static/lib/treant/treant-js-master/vendor/raphael.js"></script>
            <script src="/static/lib/treant/treant-js-master/Treant.js"></script>
            <script src="/static/src/Tree.js"></script>
            <script>
                var nodes = {{form.nodes | safe}};
                //console.log(nodes)
                var generatorObjects = {{form.generators|safe}};
                //console.log(generatorObjects)
                var inverterObjects = {{form.inverters|safe}};
                //console.log(inverterObjects)
                var batteryObjects = {{form.batteries|safe}};
                //console.log(batteryObjects);


                chartBuilder(nodes, generatorObjects, inverterObjects, batteryObjects);
                var chart = new Treant(chart_config);
                //setInterval(function(){
                //    chartBuilder(nodes, generatorObjects, inverterObjects, batteryObjects);
                //    chart = new Treant(chart_config);
                //}, 8000);


                updateNode();
                /*setTimeout function for testing purposes, will execture after 4 seconds of page loading*/
                //HERE
                    var batteryAssetsArray = assetObjectToJsonArray(batteryObjects);
                    var inverterAssetsArray = assetObjectToJsonArray(inverterObjects);
                    var generatorAssetsArray = assetObjectToJsonArray(generatorObjects);
                    var nodeAssetsArray = assetObjectToJsonArray(nodes)
                    var allQueriesArray = batteryAssetsArray.concat(inverterAssetsArray,generatorAssetsArray,nodeAssetsArray)

                    var queryStringRequest = "?" //add all quieries to this string, send to server
                    for(var position in allQueriesArray){
                        //console.log(allQueriesArray[position])
                        queryStringRequest+=allQueriesArray[position]+"&"
                    }
                    queryStringRequest+="length="+allQueriesArray.length
                    console.log(queryStringRequest)
                //HERE
                /*uncomment below to send query to server, prints response in console. TODO: server side needs work for request*/
                setTimeout(updateDeviceMapAssets(queryStringRequest), 4000);

                /*when completed testing updateDeviceMapAssets, add HERE to HERE to repeating setInterval function below */
              //   setInterval(function(){
              //      updateDeviceMapAssets(queryStringRequest);
              //  }, 3000);
            </script>
          </div>
        </div>
      </div>

    </div>
</body>
</html>
