<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/lib/treant/treant-js-master/Treant.css">
    <link rel="stylesheet" type="text/css" href="Tree.css">
    <script src="../../../static/lib/treant/treant-js-master/vendor/raphael.js"></script>
    <script src="../../../static/lib/treant/treant-js-master/Treant.js"></script>

    <script src="Tree.js">
        new Treant(chart_config);
    </script>

    <title> Custom colored example </title>
</head>
<body>
<div class="chart" id="custom-colored"> --@--</div>


</body>
</html>