<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Battery</title>
    <script type="text/javascript">
        function populateTimes(){
          var data_BData = {{form.queryset2|safe}};
          var select = document.getElementById("time_select");
          for (var i = 0; i < data_BData.length; i++){
            var timestamp = data_BData[i].fields.timestamp;
            var theDate = new Date(timestamp);
            var str = theDate.getHours() + ":" + theDate.getMinutes();

            var option = document.createElement("option");
            option.value = timestamp;
            option.text = str;
            select.add(option);
          }
        }
    </script>
    <link rel="stylesheet" href="/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/asset.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-timepicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/lib/moment.min.js"></script>
    <script src="/static/lib/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/lib/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type='text/javascript' src='/static/src/asset_template.js' defer></script>
    <script type='text/javascript' src='/static/src/batteryView.js'></script>
  </head>

  <body onload="populateTimes()">

    <div class="root">

      <div class="container-fluid" style="height:100%;overflow:auto;">

        <!-- left column for menu and calendar -->
        <div class="col-lg-3" style="height:100%;">

          <!-- menu -->
          <div style="height:65%;">
            <!-- TODO: fill in menu -->
          </div>

          <!-- calendar -->
          <div class="calendar-center" style="overflow:hidden;height:35%;">
              <div class="form-group">
                  <div class="row">
                      <div class="col-lg-12">
                          <div id="datetimepicker12"></div>
                      </div>
                  </div>
              </div>
          </div>

        </div>

        <!-- right column for content -->
        <div class="col-lg-9" style="height:100%;">

          <!-- "card" view to hold content -->
          <div class="card">

            <!-- header -->
            <div class="header row-fluid">

              <!-- title -->
              <div class="col-lg-3">
                <p>Battery</p>
              </div>

              <!-- timestamp dropdown -->
              <div class="col-lg-2 col-lg-offset-7">
                <select id="time_select" onchange="selectTime(); getGraphData();" class="form-control">
                </select>
              </div>

              <!-- separator -->
              <div class="separator">
              </div>

            </div>

            <!-- real-time data -->
            <div class="content row-fluid">

                <div id="real_time_data"></div>

                <!-- separator -->
                <div class="separator">
                </div>

            </div>

            <!-- graph header -->
            <div class="header row-fluid">

              <!-- title -->
              <div class="col-lg-3">
                <p>Daily Tracking</p>
              </div>

              <!-- data dropdown -->
              <div class="col-lg-2 col-lg-offset-7">
                <select id="data_select" class="form-control">
                  <option>Current SOC</option>
                </select>
              </div>

              <!-- separator -->
              <div class="separator">
              </div>

            </div>

            <!-- graph -->
            <div class="content row-fluid">

              <!-- Insert google graph here -->
              <div id="google_graph"></div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </body>

</html>
