<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> <!-- jQuery library -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Latest compiled JavaScript -->

    <script defer type='text/javascript' src="/CYB_PHYS_CAPSTONE/home/static/src/DeviceDataPopulate.js"></script>
    <script src="/CYB_PHYS_CAPSTONE/home/static/src/DeviceDataPopulate.js"></script>
    <script>
        $('#deviceList').find('tr').on(click( function(){
        var row = $(this).find('td:first').text();
        alert('You clicked ' + row);
        }));
    </script>
    <title>Device Selector</title>
</head>
<nav class="navbar navbar-default">
    <div class="contianer-fluid">
        <div class="navbar-header">
            <!--<img src="images/images.png" class="img" width="90" height="60">-->
            <a href="#" class="navbar-brand">ASU Cyber-Physical</a>
        </div>
        <div>
            <ul class="nav navbar-nav vertical-center">
                <li class="active"><a href="#">Home</a></li>
                <li class="active"><a href="#">Layout</a></li>
                <li class="active"><a href="#">Statistics</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>

<div>
    <form method="POST">
        <select id="selectNodeList" class="selectpicker" data-show-subtext="true" data-live-search="true" title="List of Nodes">
            {% for entry in nodesHTML %}
                <option value="{{ entry.id }}">{{ entry.object_id }}</option>
            {% endfor %}
        </select>
    </form>
</div>
<div class="container">
    <h2>Assets</h2>
    <table class="table table-striped table-hover" id="deviceList" onclick="populateDeviceField()">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Node</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in generatorHTML %}
                <tr >
                    <td>{{ entry.id }}</td>
                    <td>Generator</td>
                    <td>{{ entry.nc_id.id }}</td>
                </tr>
            {% endfor %}
            {% for entry in invertersHTML %}
                <tr>
                    <td>{{ entry.id }}</td>
                    <td>Inverter</td>
                    <td>{{ entry.nc_id.id }}</td>
                </tr>
            {% endfor %}
            {% for entry in batteriesHTML %}
                <tr>
                    <td >{{ entry.id }}</td>
                    <td>Battery</td>
                    <td>{{ entry.nc_id.id }}</td>
                </tr>
            {% endfor %}
            {% for entry in solarHTML %}
                <tr>
                    <td >{{ entry.id }}</td>
                    <td>Solar</td>
                    <td>{{ entry.nc_id.id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>