<div id="real_time_data" style="overflow-y:auto;">

        <div class="container-fluid">
            <div class="row-fluid">
              <div class="col-lg-4">
                {{form.output_voltage.label_tag}}
                <br/>
                {{form.output_voltage}}
              </div>
              <div class="col-lg-4">
                {{form.output_current.label_tag}}
                <br/>
                {{form.output_current}}
              </div>
              <div class="col-lg-4">
                {{form.output_real_power1.label_tag}}
                <br/>
                {{form.output_real_power1}}
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-lg-4">
                {{form.output_real_power2.label_tag}}
                <br/>
                {{form.output_real_power2}}
              </div>
              <div class="col-lg-4">
                {{form.frequency.label_tag}}
                <br/>
                {{form.frequency}}
              </div>
            </div>
        </div>
</div>
