<!DOCTYPE HTML>
<html>

    <body>
        <head>
            <title>NREL Data Demo</title>
            <script defer type='text/javascript' src='/static/NREL.js'></script>
            <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                }
                td{
                    width: 7%
                };
                table{
                    table-layout: fixed
                };

            </style>
        </head>

        <h1>NREL Data Demo</h1>

        <!--<br>
        <H2>Buildings</H2>
            <p id='buildings'></p>

        <H2>Electricity</H2>
            <p id='electricity'></p>-->

        <div id='solarData'>
            <H2>Solar</H2>
            <table>
                <tr>
                    <th></th>
                    <th>Annual</th>
                    <th>January</th>
                    <th>February</th>
                    <th>March</th>
                    <th>April</th>
                    <th>May</th>
                    <th>June</th>
                    <th>July</th>
                    <th>August</th>
                    <th>September</th>
                    <th>October</th>
                    <th>November</th>
                    <th>December</th>

                </tr>
                <tr>
                    <td>Direct Normal Iradiance</td>
                    <td id='dni_ann'></td>
                    <td id='dni_jan'></td>
                    <td id='dni_feb'></td>
                    <td id='dni_mar'></td>
                    <td id='dni_apr'></td>
                    <td id='dni_may'></td>
                    <td id='dni_jun'></td>
                    <td id='dni_jul'></td>
                    <td id='dni_aug'></td>
                    <td id='dni_sep'></td>
                    <td id='dni_oct'></td>
                    <td id='dni_nov'></td>
                    <td id='dni_dec'></td>
                </tr>
                <tr>
                    <td>Average Global Horizontal Irradiance</td>
                    <td id='ghi_ann'></td>
                    <td id='ghi_jan'></td>
                    <td id='ghi_feb'></td>
                    <td id='ghi_mar'></td>
                    <td id='ghi_apr'></td>
                    <td id='ghi_may'></td>
                    <td id='ghi_jun'></td>
                    <td id='ghi_jul'></td>
                    <td id='ghi_aug'></td>
                    <td id='ghi_sep'></td>
                    <td id='ghi_oct'></td>
                    <td id='ghi_nov'></td>
                    <td id='ghi_dec'></td>
                </tr>
                <tr>
                    <td>Average Tilt at latitude</td>
                    <td id='lat_ann'></td>
                    <td id='lat_jan'></td>
                    <td id='lat_feb'></td>
                    <td id='lat_mar'></td>
                    <td id='lat_apr'></td>
                    <td id='lat_may'></td>
                    <td id='lat_jun'></td>
                    <td id='lat_jul'></td>
                    <td id='lat_aug'></td>
                    <td id='lat_sep'></td>
                    <td id='lat_oct'></td>
                    <td id='lat_nov'></td>
                    <td id='lat_dec'></td>
                </tr>
            </table>
        </div>
       <!--
        <H2>Technologies</H2>
            <p id='technologies'></p>

        <H2>Transportation</H2>
            <p id='transportation'></p>

        <H2>Wind</H2>
            <p id='wind'></p>-->


        <input type='button' value='Update' onclick='getSolarData()'>
    </body>

</html>