<div id="real_time_data" style="overflow-y:auto;">

        <div class="container-fluid">
            <div class="row-fluid">
              <div class="col-lg-4">
                {{form.output_voltage.label_tag}}
                <br/>
                {{form.output_voltage}}
              </div>
              <div class="col-lg-4">
                {{form.real_power.label_tag}}
                <br/>
                {{form.real_power}}
              </div>
              <div class="col-lg-4">
                {{form.reactive_power.label_tag}}
                <br/>
                {{form.reactive_power}}
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-lg-4">
                {{form.frequency.label_tag}}
                <br/>
                {{form.frequency}}
              </div>
              <div class="col-lg-4">
                {{form.input_voltage.label_tag}}
                <br/>
                {{form.input_voltage}}
              </div>
              <div class="col-lg-4">
                {{form.dc_power.label_tag}}
                <br/>
                {{form.dc_power}}
              </div>
            </div>
            <div class="row-fluid">
              <div class="col-lg-4">
                {{form.battery_charge_volt.label_tag}}
                <br/>
                {{form.battery_charge_volt}}
              </div>
              <div class="col-lg-4">
                {{form.power_factor.label_tag}}
                <br/>
                {{form.power_factor}}
              </div>
            </div>
        </div>
</div>
