<div id="real_time_data" style="overflow-y:auto;">

        <div class="container-fluid">
            <div class="row-fluid">
              <div class="col-lg-3">
                {{form.ghi.label_tag}}
                <br/>
                {{form.ghi}}
              </div>
              <div class="col-lg-3">
                {{form.dni.label_tag}}
                <br/>
                {{form.dni}}
              </div>
              <div class="col-lg-3">
                {{form.dhi.label_tag}}
                <br/>
                {{form.dhi}}
              </div>
              <div class="col-lg-3">
                {{form.air_temp.label_tag}}
                <br/>
                {{form.air_temp}}
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-lg-3">
                {{form.rel_humid.label_tag}}
                <br/>
                {{form.rel_humid}}
              </div>
              <div class="col-lg-3">
                {{form.wind_speed.label_tag}}
                <br/>
                {{form.wind_speed}}
              </div>
              <div class="col-lg-3">
                {{form.wind_dir.label_tag}}
                <br/>
                {{form.wind_dir}}
              </div>
              <div class="col-lg-3">
                {{form.station_pressure.label_tag}}
                <br/>
                {{form.station_pressure}}
              </div>
            </div>
        </div>
</div>
