<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script defer type='text/javascript' src='/static/NREL_viewer.js'></script>
</head>
<body>
    <div onchange="selectTime()">
        Date, Time Select:
        {{form.timeStamps}}
    </div>

    <div id="NREL_data_viewer">
        <a>Nothing Selected</a>
    </div>

    <div id="printerInfo">

    </div>
</body>
</html>