<div id="real_time_data" style="overflow-y:auto;">

        <div class="container-fluid">
            <div class="row-fluid">
              <div class="col-lg-4">
                {{form.output_voltage.label_tag}}
                <br/>
                {{form.output_voltage}}
              </div>
              <div class="col-lg-4">
                {{form.current.label_tag}}
                <br/>
                {{form.current}}
              </div>
              <div class="col-lg-4">
                {{form.real_power.label_tag}}
                <br/>
                {{form.real_power}}
              </div>
            </div>
        </div>
</div>
