body {
    background-color: #5C59CF
}

select, input {
    color: black;
}

div, label {
    color: white;
}

#NREL_master_viewer {
    margin-top: 10%;
}

#time_select {
    position: absolute;
    right: 0%;
    font-size: 200%;
}

#data_select {
    margin-bottom: 5px;
    font-size: 200%;
}

#google_graph {
    position: relative;
}

#NREL_data_viewer {
    margin-top: 15%;
    font-size: 150%;
}

.nrel-container {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5%;
}

#hiddenData {
    display: none;
}